*{
    padding: 0;
    margin: 0;
    font-family: Montserrat,sans-serif;
}
.ladi-header{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 90px;
    position: relative;
    background: #070B2D;
    
}
.ladi-container{
    position: relative;
    margin: 0 auto;
    height: 100%;
    width: 980px;
}
.ladi-element{
    width: 682px;
    height: 100%;
    top: 21px;
    left: 0px;
    position: absolute;
}
.ladi-headline{
    color: #F555F5;
    font-size: 16px;
    line-height: 1.6;
    
}
.ladi-button{
    position: relative;
    width: 240px;
    height: 50px;
    border-style: solid;
    border-color: rgb(255, 251, 247);
    border-width: 1px;
    border-radius: 76px;
    left: 715px;
    display: table-cell;
    vertical-align: middle;
}
.ladi-img{
    width: 176px;
    height: 66px;
    top: 80px;
    left: 0px;
    position: absolute;
    background-image: url("https://w.ladicdn.com/57b167caca57d39c18a1c57e/page_h-20220401071258.svg");
}
.menu{
    width: 492.191px;
    height: 60px;
    top: 110px;
    left: 467.809px;
    position: absolute;
 
}
.ladi-buttonA{
    position: relative;
    width: 101.441px;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    color: black;
}
.ladi-buttonB{
    width: 180px;
    height: 40px;
    position: relative;
    border-style: solid;
    border-color: rgb(9, 12, 41);
    border-width: 1px;
    border-radius: 76px;
    color: black;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 1.6;

}
.ladi-elementA{
    width: 100%;
    height: 100%;
    top: 250px;
    left: 0px;
    position: absolute;

}
.ladi-headlineA{
    width: 100%;
    color: rgb(9, 12, 41);
    text-align: center;
    line-height: 1.2;
}
.ladi-buttonC{
    width: 285px;
    height: 40px;
    position: absolute;
    border-style: solid;
    border-color: rgb(245, 85, 245);
    border-width: 1px;
    border-radius: 103px;
    display: table-cell;
    vertical-align: middle;
    left: 360px;
    color: #F555F5;
    font-size: 16px;
    line-height: 1.6;
}
#video{
    width: 604px;
    height: 340.919px;
    top: 625.639px;
    left: 176.75px;
}
.ladi-elementC {
    position: absolute;
}
.pointer-events-none {
    pointer-events: none;
}
.ladi-video {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    overflow: hidden;
}
.ladi-video .ladi-video-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}
#shape {
    width: 60px;
    height: 60px;
    top: 140.459px;
    left: 272px;
}
.ladi-transition {
    transition: all 150ms linear 0s;
}
.ladi-section {
    margin: 0 auto;
    position: relative;
}
#section1 {
    height: 416.36px;
}
#section2 {
    top: 1300px;
    position: relative;
    height: 970.3px;
}
#section3 {
    top: 1310px;
    position: relative;
    height: 254.5px;
}
#section4 {
    top: 1350px;
    position: relative;
    height: 409.3px;
}
#footer {
    top: 1400px;
    position: relative;
    height: 300px;
}
.ladi-section-background{
    background-color: rgb(255, 255, 255);
}
.ladi-section .ladi-section-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    overflow: hidden;
}
#PARAGRAPH{
    color: rgb(9, 12, 41);
    font-size: 16px;
    text-align: center;
    line-height: 1.6;
    width: 702px;
    top: 1100px;
    left: 125.75px;
}
.ladi-paragraph {
    width: 100%;
    display: inline-block;
}
.ladi-section .ladi-container {
    width: 960px;
}
.ladi-containerA{
    position: relative;
    margin: 0 auto;
    height: 100%;
}
#GROUP1 {
    width: 605.639px;
    height: 35.9851px;
    top: 1050px;
    left: 173.93px;
}
#GROUP2 {
    width: 106.662px;
    height: 18.0938px;
    top: 1000px;
    left: 423.419px;
}
#GROUP3 {
    width: 960px;
    height: 125.65px;
    top: 1180px;
    left: 0.00025px;
}
#GROUP4 {
    width: 300px;
    height: 287px;
    top: 270.65px;
    left: 0px;
}
#GROUP5 {
    width: 300px;
    height: 287px;
    top: 270.65px;
    left: 330px;
}
#GROUP6 {
    width: 300px;
    height: 287px;
    top: 270.65px;
    left: 660px;
}
#GROUP7 {
    width: 300px;
    height: 287px;
    top: 599.75px;
    left: 0px;
}
#GROUP8 {
    width: 300px;
    height: 287px;
    top: 599.75px;
    left: 330px;
}
#GROUP9 {
    width: 300px;
    height: 287px;
    top: 599.75px;
    left: 660px;
}
#GROUP10 {
    width: 106.662px;
    height: 18.0938px;
    top: 34.203px;
    left: 423.419px;
}
#GROUP11 {
    width: 803.57px;
    height: 75.0544px;
    top: 131.004px;
    left: 74.9648px;
}
#GROUP12 {
    width: 803.57px;
    height: 278px;
    top: 62.15px;
    left: 74.9648px;
}
#GROUP13 {
    width: 247px;
    height: 22px;
    top: 226.64px;
    left: 281.535px;
}
.ladi-group {
    position: absolute;
    width: 100%;
    height: 100%;
}
#IMAGE1 {
    width: 105.385px;
    height: 35.9851px;
    top: 0px;
    left: 125.064px;
}
#IMAGE2 {
    width: 105.385px;
    height: 35.9851px;
    top: 0px;
    left: 0px;
}
#IMAGE3 {
    width: 105.385px;
    height: 35.9851px;
    top: 0px;
    left: 250.127px;
}
#IMAGE4 {
    width: 105.385px;
    height: 35.9851px;
    top: 0px;
    left: 375.19px;
}
#IMAGE5 {
    width: 105.385px;
    height: 35.9851px;
    top: 0px;
    left: 500.254px;
}
#IMAGE6 {
    width: 126.548px;
    height: 57.8681px;
    top: 0px;
    left: 139.203px;
}
#IMAGE6 > .ladi-image {
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-width: 1px;
    border-radius: 5px;
    filter: saturate(0%);
}
#IMAGE7 {
    width: 126.548px;
    height: 57.8681px;
    top: 0px;
    left: 0px;
}
#IMAGE7 > .ladi-image {
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-width: 1px;
    border-radius: 5px;
    filter: saturate(0%);
}
#IMAGE8 {
    width: 126.548px;
    height: 57.8681px;
    top: 0px;
    left: 278.408px;
}
#IMAGE9 {
    width: 126.549px;
    height: 57.8681px;
    top: 0px;
    left: 417.611px;
}
#IMAGE10 {
    width: 126.549px;
    height: 57.8681px;
    top: 0px;
    left: 556.814px;
}
#IMAGE11 {
    width: 126.548px;
    height: 57.8681px;
    top: 0px;
    left: 694.246px;
}
#IMAGE12 {
    width: 126.548px;
    height: 57.8681px;
    top: 0px;
    left: 833.451px;
}
#IMAGE13 {
    width: 200px;
    height: 55.5667px;
    top: 9.744px;
    left: 603.57px;
}
#IMAGE14 {
    width: 200px;
    height: 30.8943px;
    top: 22.08px;
    left: 382.639px;
}
.ladi-image {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}
.ladi-image-backgroundA {
    width: 105.385px;
    height: 35.9851px;
    top: 0px;
    left: 0px;
    background-image: url("https://w.ladicdn.com/57b167caca57d39c18a1c57e/logo-true-size-16-20210129044215.svg");
}
.ladi-image-backgroundB {
    width: 105.385px;
    height: 35.9851px;
    top: 0px;
    left: 0px;
    background-image: url("https://w.ladicdn.com/57b167caca57d39c18a1c57e/logo-true-size-12-20210129044215.svg");
}
.ladi-image-backgroundC {
    width: 105.385px;
    height: 35.9851px;
    top: 0px;
    left: 0px;
    background-image: url("https://w.ladicdn.com/57b167caca57d39c18a1c57e/logo-true-size-08-20210129044215.svg");
}
.ladi-image-backgroundD {
    width: 105.385px;
    height: 35.9851px;
    top: 0px;
    left: 0px;
    background-image: url("https://w.ladicdn.com/57b167caca57d39c18a1c57e/logo-true-size-32-20210201014811.svg");
}
.ladi-image-backgroundE {
    width: 105.385px;
    height: 35.9851px;
    top: 0px;
    left: 0px;
    background-image: url("https://w.ladicdn.com/57b167caca57d39c18a1c57e/logo-true-size-39-20210201014811.svg");
}
.ladi-image-background1 {
    width: 126.548px;
    height: 57.8681px;
    top: 0px;
    left: 0px;
    background-image: url("	https://w.ladicdn.com/s450x400/58ad0fda3494e1f5447a9da8/partner-6-20190827023143.png");
}
.ladi-image-background2 {
    width: 126.548px;
    height: 57.8681px;
    top: 0px;
    left: 0px;
    background-image: url("https://w.ladicdn.com/s450x400/58ad0fda3494e1f5447a9da8/partner-1-20190827023143.png");
}
.ladi-image-background3 {
    width: 126.548px;
    height: 57.8681px;
    top: 0px;
    left: 0px;
    background-image: url("	https://w.ladicdn.com/s450x400/58ad0fda3494e1f5447a9da8/partner-9-20190827023143.png");
}
.ladi-image-background4 {
    width: 126.549px;
    height: 57.8681px;
    top: 0px;
    left: 0px;
    background-image: url("https://w.ladicdn.com/s450x400/58ad0fda3494e1f5447a9da8/partner-8-20190827023143.png");
}
.ladi-image-background5 {
    width: 126.549px;
    height: 57.8681px;
    top: 0px;
    left: 0px;
    background-image: url("https://w.ladicdn.com/s450x400/58ad0fda3494e1f5447a9da8/partner-14-20190827023143.png");
}
.ladi-image-background6 {
    width: 128.548px;
    height: 56.1631px;
    top: 1.70503px;
    left: -2px;
    background-image: url("https://w.ladicdn.com/s450x400/57b167caca57d39c18a1c57e/elite-fitness-logo-20200502061637.png");
}
.ladi-image-background7 {
    width: 126.548px;
    height: 63.1673px;
    top: -2px;
    left: 0px;
    background-image: url("	https://w.ladicdn.com/s450x400/57b167caca57d39c18a1c57e/30-shine-20200502062309.jpg");
}
.ladi-image-background8 {
    width: 200px;
    height: 55.5667px;
    top: 0px;
    left: 0px;
    background-image: url("https://w.ladicdn.com/s550x400/57b167caca57d39c18a1c57e/logo-vng-cloud-color-20210126094859.png");
}
.ladi-image-background {
    width: 200px;
    height: 30.8943px;
    top: 0px;
    left: 0px;
    background-image: url("https://w.ladicdn.com/57b167caca57d39c18a1c57e/cloud-logo-google-20210126082737.svg");
}
#SHAPE1 {
    width: 19.0226px;
    height: 18.0938px;
    top: 0px;
    left: 0px;
}
#SHAPE2 {
    width: 19.0226px;
    height: 18.0938px;
    top: 0px;
    left: 21.9098px;
}
#SHAPE3 {
    width: 19.0226px;
    height: 18.0938px;
    top: 0px;
    left: 43.8195px;
}
#SHAPE4 {
    width: 19.0226px;
    height: 18.0938px;
    top: 0px;
    left: 65.7293px;
}
#SHAPE5 {
    width: 19.0226px;
    height: 18.0938px;
    top: 0px;
    left: 87.639px;
}
#SHAPE6 {
    width: 80px;
    height: 80px;
    top: 0px;
    left: 438.75px;
}
#SHAPE7 {
    width: 65px;
    height: 65px;
    top: 222px;
    left: 235px;
}
#SHAPE8 {
    width: 18px;
    height: 18px;
    top: 2px;
    left: 0px;
}
#SHAPE9 {
    width: 80px;
    height: 80px;
    top: 102.5px;
    left: 0px;
}
.ladi-shape {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
#HEADLINE1 {
    width: 831px;
    top: 73.75px;
    left: 63.25px;
    color: rgb(24, 83, 250);
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
}
#HEADLINE2 {
    width: 254px;
    top: 24.1px;
    left: 19.2497px;
    color: rgb(9, 12, 41);
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    line-height: 1.2;
}
#HEADLINE3 {
    color: rgb(255, 255, 255);
    font-size: 14px;
    text-align: left;
    line-height: 1.6;
    width: 222px;
    top: 0px;
    left: 25px;
}
#HEADLINE4 {
    color: rgb(255, 251, 247);
    font-size: 28px;
    text-align: center;
    line-height: 1.2;
    width: 642px;
    top: 58.96px;
    left: 83.5352px;
}
.ladi-headline1 {
    width: 100%;
    display: inline-block;
    background-size: cover;
    background-position: center center;
}
#PARAGRAPH2 {
    width: 655px;
    top: 136.25px;
    left: 151.25px;
    color: rgb(9, 12, 41);
    font-size: 16px;
    text-align: center;
    line-height: 1.6;
}
#PARAGRAPH3 {
    color: rgb(9, 12, 41);
    font-size: 14px;
    text-align: left;
    line-height: 1.6;
    width: 263px;
    top: 72.1px;
    left: 18.5px;
}
#PARAGRAPH4{
    color: rgb(9, 12, 41);
    font-size: 16px;
    text-align: center;
    line-height: 1.6;
    width: 517px;
    top: 62.203px;
    left: 218.25px;
}
#BOX1 {
    width: 300px;
    height: 287px;
    top: 0px;
    left: 0px;
    background-color: #FFFBF7;
    border-radius: 3px;
}
#BOX2 {
    width: 803.57px;
    height: 278px;
    top: 0px;
    left: 0px;
}
#BOX2 > .ladi-box {
    background-color: rgb(24, 83, 250);
    border-radius: 20px;
}
.ladi-box {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

